@media(max-width: 500px){

	.header{
		display: flex;
		justify-content: center;
		background-size: 240px;
		background-position: 10px 15px;
	}

	.container{
		width: 470px;
	}

	.nav{
		width: 500px;
	}

	.header-subtext{
		font-size: 25px;
	}

	strong{
		font-size: 51px;
	}

	.delivery-subtext{
		margin: 0;
		width: 470px;
	}

	.subtext{
		width: 490px;
	}

	.map-img{
		width: 400px;
	}

	.stars-subtext{
		width: 480px;
	}

	.image{
		width: 80px;
	}

	.about-us{
		padding-top: 0;
	}

	.about-us-title{
		margin-left: 150px;
		min-width: 200px;
	}

	.stars-subtext{
		width: 470px;
	}

	.about-us-image{
		margin-left: 60%;
	}

	.about-us-subtext{
		margin-left: -15px;
	}
    
    .footer{
    	height: 750px;
    }
}