@media(max-width: 576px){

	.container{
		width: 540px;
	}

	.nav{
		width: 576px;
	}

	.header{
		background-size: 280px;
		background-position: 10px 10px;
	}

	.header-subtext{
		font-size: 30px;
	}

	strong{
		font-size: 61px;
	}

	.image{
		width: 95px;
	}

	.side{
		display: none;
	}

	.about-us-title{
		margin-left: 150px;
		min-width: 200px;
	}

	.about-us-image{
		margin-left: 150px;
	}

	.flex{
		margin-left: 50%;
	}

	.box-img{
		width: 80px;
	}

	.about-us-subtext{
		text-align: center;
	}

	.subtext{
		left: 0;
		text-align: center;
		margin-left: 10px;
	}

	.delivery-subtext{
		width: 500px;
	}

	.aside-title{
		margin-left: 20px;
	}

	.country{
		margin-left: 20px;
	}

	.one{
		display: none;
	}

	.info{
		padding-bottom: 20px;
	}

	.instagram-wrapper{
		width: 100%;
	}
}

@media(max-width: 570px){
	.container{
		max-width: 470px;
	}

	.instagram-wrapper{
		width: 100%;
	}

	.menu > .container > .wrapper{
		margin-right: 100px;
	}

	.nav-list{
		display: none;
	}

	.nav{
		flex-direction: row;
		align-items: center;
	}

	.header-button{
		display: inline-block;
		color: white;
		font-weight: bold;
		border: 1px solid #fff;
	}
}

@media(max-width: 558px){
	.subtext{
		margin-left: 5px;
	}
}

@media(max-width: 554px){
	.subtext{
		width: 96%;
		margin-left: 2%;
	}

	.about-us-subtext{
		margin-left: -20px;
	}
}

@media(max-width: 544px){
	.container{
		max-width: 445px;
	}

	.header-subtext{
		font-size: 24px !important
	}

	.header-subtext > span {
		font-size: 25px;
	}

	.header-subtext > strong{
		font-size: 50px;
	}

	.brown{
		margin-bottom: 20px;
		width: 250px;
	}

	.box{
		width: 250px;
		padding: 10px;
		margin-bottom: 20px;
	}

	.map{
		margin: 0 auto;
		width: 100%;
	}

	.delivery-subtext{
		width: 90%;
	}

	.menu > .container > .wrapper{
		margin-right: 130px;
	}

	.about-us-subtext{
		margin-left: -50px;
	}
}

@media(max-width: 528px){
	.image{
		max-width: 85px;
	}
}

@media(max-width: 504px){
	.container{
		max-width: 400px;
	}

	.image{
		max-width: 80px;
	}

	.header{
		background-size: 200px !important;
		background-position: 0 25px !important;
	} 

	.menu > .container > .wrapper{
		width: 100%;
	}

	.left{
		margin-left: 30%;
	}

	.right{
		margin-left: 30%;
	}

	.line{
		width: 400px;
	}

	.left > hr{
		width: 400px;
	}

	.right > hr{
		width: 400px;
	}

	.scroll{
		margin-left: -25px;
		width: 450px;
	}

	.scroll-box{
		margin: 0 auto;
	}

	.about-us-subtext{
		min-width: 400px !important;
		margin: 0 auto;
		text-align: center;
	}

	.about-us-title{
		margin-left: 100px;
	}

	.about-us-image{
		margin-left: 100px;
	}

	.flex{
		margin-left: 50px;
	}
}

@media(max-width: 500px){
	.container{
		max-width: 400px;
	}

	.subtext{
		max-width: 96% !important
	}

	.about-us-title{
		margin-left: 100px !important
	}

	.about-us-image{
		margin-left: 100px !important
	}

	.delivery-subtext{
		max-width: 100%;
	}

	.footer-wrapper{
		margin-left: -80px;
	}
}

@media(max-width: 478px){
	.conainer{
		max-width: 380px;
	}

	.image{
		max-width: 75px;
	}

	.delivery-subtext{
		width: 100%;
	}

	.margin-right{
		display: flex;
		margin-right: -100px;
	}

	.margin{
		margin-left: -20px;
	}

	.footer-hr{
		margin-left: 95px;
	}

	.header{
		height: 400px;
	}
}

@media(max-width: 470px){
	.container{
		max-width: 370px;
	}

	.instagram-title{
		width: 400px;
	}

	.footer{
		height: 1200px !important
	}

	.footer-wrapper{
		height: 1000px;
		margin: 0 auto;
		text-align: center;
	}

	.footer-subtext:before{
		display: none;
	}

	.footer-title{
		min-width: 200px !important
	}

	.scroll{
		margin-left: -40px;
	}
}

@media(max-width: 458px){
	.logo{
		margin-right: 10px;
	}

	.nav-img{
		margin-left: 20px;
	}

	.nav{
		justify-content: space-between;
	}

	.image{
		max-width: 70px;
	}

}

@media(max-width: 448px){
	.scroll-button{
		padding: 0;
	}

	.scroll{
		width: 420px;
		margin-right: -20px;
	}
}

@media(max-width: 428px){
	.stars-subtext{
		margin-left: -40px;
	}

	.image{
		max-width: 65px;
	}
}

@media(max-width: 420px){
	.header-subtext{
		font-size: 19px !important
	}

	.header-subtext > span{
		font-size: 20px;
	}

	.header-subtext > strong{
		font-size: 40px;
	}

	.header{
		background-size: 150px !important;
		background-position: 10px 50px !important;
	}

	.left{
		margin-left: 100px;
	}

	.right{
		margin-left: 100px;
	}
}

@media(max-width: 418px){
	.container{
		max-width: 320px;
	}

	.header{
		padding-bottom: 0;
		height: 250px;
	}

	.about-us-subtext{
		transform: translateX(-30px);
	}

	.about-us-link{
		margin-top: 40px;
	}

	.about-us-title{
		max-width: 100%;
		margin-left: 50px !important
	}

	.menu > .container > .wrapper{
		margin-right: 180px;
	}

	.scroll{
		margin-right: -30px;
		max-width: 418px;
	}

	.instagram-wrapper{
		width: 120%;
	}

	.instagram-img{
		margin-left: -30px;
	}

	.instagram-container-img{
		width: 250px;
	}

	.blog{
		margin-left: -25px;
	}

	.footer-wrapper{
		margin-left: -30px;
	}

	.countries:nth-child(4){
		margin-left: 15px;
		margin-right: 15px;
	}

	.countries:nth-child(5){
		margin-left: 15px;
		margin-right: 15px;
	}

	.countries:nth-child(6){
		margin-left: 15px;
		margin-right: 15px;
	}

	.flex{
		margin-left: -20px;
	}
}

@media(max-width: 408px){
	.about-us-subtext{
		margin-left: -20px !important
	}

	.scroll{
		max-width: 405px;
		margin-left: -25px;
		margin-right: -5px;
	}

	.scroll-box{
		position: relative;
		margin: 0 auto;
		margin-left: 75px;
	}

	.ong{
		left: 0;
		margin-top: 25%;
	}

	.chap{
		right: 0;
		margin-top: 25%;
	}

	.scroll-button{
		position: absolute;
	}

	.info-subtext{
		width: 350px;
	}

	.about-us-title{
		margin-left: 50px !important
	}

	.about-us-image{
		margin-left: 50px !important
	}
}

@media(max-width: 404px){
	.image{
		max-width: 60px;
	}
}

@media(max-width: 398px){
	.about-us-subtext{
		min-width: 100% !important;
		margin-left: 50px !important
	}

	.map-img{
		max-width: 100% !important;
		margin: 0 auto;
	}

	.line{
		max-width: 300%;
		margin: 0 auto;
	}

	.left{
		margin: 0 auto;
	}

	.right{
		margin: 0 auto;
	}

	.menu > .container > .wrapper > .left > hr{
		max-width: 300% !important
	}

	.menu > .container > .wrapper > .right > hr{
		max-width: 300% !important
	}

	.scroll{							
		max-width: 350px;
	}

	.scroll-box{
		margin-left: 50px;
	}

	.ong{
		left: 15px;
		z-index: 1;
	}

	.chap{
		right: 5px;
	}

	.stars-subtext{
		max-width: 350px;
		text-align: center;
		margin: 0 auto;
	}

	.instagram-title{
		font-size: 30px;
		text-align: center;
		max-width: 100%;
	}

	.instagram-img{
		max-width: 300px;
		margin: 0 auto;
	}

	.menu > .container > .wrapper{
		margin-left: -30px;
	}
}

@media(max-width: 378px){
	.image{
		max-width: 55px;
	}

	.stars-subtext{
		margin: 0 auto;
		text-align: center;
		margin-left: -15px;
	}

	.instagram-wrapper{
		max-width: 100%;
	}
}

@media(max-width: 374px){
	.header-subtext > strong{
		margin-right: -30px !important
	}
}

@media(max-width: 372px){
	.flex{
		margin-top: 50px;
	}

	.instagram-wrapper{
		max-width: 350px;
	}

	.footer-title{
		margin: 0 auto;
		min-width: 100%;
	}

	.map-img{
		height: 100%;
	}

	.country{
		margin-left: 0;
	}

	.left-title{
		min-width: 200px;
		margin-left: -20px;
		padding-top: 10px;
	}

	.direction{
		margin-left: -70px;
	}

	.blog{
		max-width: 350px;
	}
}

@media(max-width: 368px){
	.footer-footer-wrapper-subtext{
		margin-left: 80px;
	}

	.instagram-info-subtext{
		margin-left: -10px;
	}

	.blog-box{
		margin: 0;
		margin-right: -20px;
	}

	.margin-right{
		margin-right: -80px;
	}

	.header-subtext{
		font-size: 15px !important
	}

	.header-subtext > span{
		font-size: 16px !important
	}

	.header-subtext > strong{
		font-size: 33px !important
	}

	.info-title{
		margin-left: -10px;
	}

	.info-subtext{
		max-width: 330px;
	}
}

@media(max-width: 352px){
	.image{
		max-width: 50px;
	}

	.left{
		margin-left: 95px;
	}

	.right{
		margin-left: 95px;
	}

	.blog-box{
		margin-left: 5px;
		max-width: 300px !important
	}

	.instagram-info-subtext{
		max-width: 300px;
	}

	.info{
		margin-left: -110px;
	}
}

@media(max-width: 348px){
	.instagram-info-subtext{
		margin-left: 0;
	}

	.instagram{
		padding-bottom: 0;
	}

	.instagram-wrapper{
		width: 100%;
	}

	.stars-subtext{
		max-width: 300px;
	}

	.about-us-link{
		margin: 20px auto;
	}
}