:root{
    --main-bg-color: #01714D;
}

*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
}
@font-face {
    font-family: 'Holtwood One SC';
    src: url('./fonts/HoltwoodOneSC.woff2') format('woff2'),
        url('./fonts/HoltwoodOneSC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins black';
    src: url('./fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('./fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Black.woff2') format('woff2'),
        url('./fonts/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Futura Md BT';
    src: url('./fonts/FuturaBT-MediumItalic.woff2') format('woff2'),
        url('./fonts/FuturaBT-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Futura BT';
    src: url('./fonts/Futura-Bold.woff2') format('woff2'),
        url('./fonts/Futura-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('./fonts/Futura-Bold.woff2') format('woff2'),
        url('./fonts/Futura-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pacifico';
    src: url('./fonts/Pacifico-Regular.woff2') format('woff2'),
        url('./fonts/Pacifico-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
    position: relative;
}
.header{
    background-image: url("../img/4-layers.png");
    background-repeat: no-repeat;
    background-position: 10px -100px;
    background-size: 600px;
    padding-bottom: 80px;
}
.container{
	width: 1140px;
	margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
}
.nav{
    position: fixed;
    width: 100%;
	display: flex;
	align-items: center;
	background-color: var(--main-bg-color);
}
.nav{
    z-index: 4;
}
.nav-img{
    margin-left: 100px;
}
.nav-subtext{
	font-family: 'Pacifico';
    font-size: 25px;
	color: #fff;
}
.nav-item{
	display: flex;
	margin-left: auto;
}
.nav-link{
    color: #fff;
    padding: 20px;
	font-family: 'Futura';
}
html {
    scroll-behavior: smooth;
}
.last{
    padding-right: 100px;
}
.images{
    display: none;
    align-items: center;
}
.header-subtext{
    padding-top: 100px;
    padding-bottom: 80px;
    font-family: 'Poppins black';
    color: var(--main-bg-color);
    text-align: right;
    font-size: 50px;
    line-height: 1.2;
    text-transform: uppercase;
    word-spacing: 15px;
}
strong{
    font-family: "Holtwood One SC";
    font-size: 100px;
}
.image{
    margin: 10px;
}
span{
    word-spacing: 5px;
}
.about-us{
    padding-bottom: 50px;
    scroll-behavior: smooth;
}
.about-us > .container {
    display: flex;
}
.info{
    width: 100%;
    padding-left: 100px;
}
.about-us-title{
    font-family: Pacifico;
    color: var(--main-bg-color);
    font-size: 40px;
}
.about-us-image{
    margin: 15px 0;
}
.about-us-subtext{
    font-family: Pacifico;
    font-size: 25px;
    min-width: 500px;
    color: #0D3A2C;
}
.subtext{
    position: absolute;
    left: 300px;
    display: block;
    font-family: "Futura";
    color: #444444;
    width: 550px;
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 1.5;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;

}
.subtext{
    z-index: 1;
}
.flex{
    padding-top: 250px;
    display: flex;
    align-items: center;
}
.about-us-link{
    padding: 15px 20px;
    background-color: var(--main-bg-color);
    color: #fff;
    font-family: "Futura";
    margin-right: 50px;
    font-size: 15px;
    min-width: 125px;
}
button{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px;
}
.side{
    position: relative;
    margin-left: auto;
}
.collection{
    padding-bottom: 100px;
}
.collection > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.collection-title{
    color: var(--main-bg-color);
    font-family: Pacifico;
    font-size: 40px;
    text-align: center;
}
.collection-img{
    width: 280px;
    margin: 20px auto;
}
.boxes{
    display: flex;
    padding-top: 20px;
    justify-content: center;
}
.brown{
    background-color: var(--main-bg-color);
    background-image: url(../img/FDA1BDC8-8E0A-49DC-8D15-28C4B765E205.JPG);
    background-size: cover;
    background-position: -35px 0;
    width: calc(80% / 4);
    margin-right: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(80% / 4);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 0 15px;
    height: 300px;
    transition: 0.5s;
}
.box:hover{
    box-shadow: 0 0 25px -10px black;
}

.brown:hover{
    box-shadow: 0 0 25px -10px black;
}
.box-title{
    font-family: Pacifico;
    color: var(--main-bg-color);
    padding-bottom: 10px;

}
.box-subtext{
    width: 100%;
    font-family: "Futura";
    color: #777777;
    text-align: center;
}
.box-img{
    width: 150px;
}
.delivery{
    padding-bottom: 100px;
}
.delivery > .container{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.delivery-title{
    font-family: Pacifico;
    padding-bottom: 10px;
    color: var(--main-bg-color); 
    font-size: 35px;
}
.delivery-img{
    width: 255px;
}
.delivery-subtext{
    color: #777777;
    font-family: "Futura BT";
    width: 600px;
    line-height: 1.5;
    padding-top: 30px;
}
.aside-title{
    font-family: Pacifico;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #0D3A2C;
}
.country{
    display: flex;
    height: 100px;
    line-height: 2;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.countries{
    font-family: "Futura BT";
    color: #777777;
}
.countries::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 3px;
    background-image: url("../img/Rectangle_2_copy_9.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 3px;
    margin-right: 5px;

}
.delivery-link{
    padding: 13px 25px;
    background-color: var(--main-bg-color);
    color: #fff;
    font-family: "Futura Md BT";
}
.map-img{
    margin-top: 100px;
    margin-left: -100px;
}
.menu{
    width: 100%;
    background-color: #094D38;
    color: #fff;
    padding-bottom: 80px;
}
.menu > .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.menu-title{
    font-family: Pacifico;
    font-size: 40px;
    letter-spacing: 2px;
    padding-top: 100px;
    text-align: center;
    padding-bottom: 20px;
}
.menu-img{
    text-align: center;
    width: 255px;
    margin: 0 auto;
}
.wrapper{
    width: 100%;
    display: flex;
    margin: 30px auto;
}
.left{
    margin: 0 auto;
    width: 35%;
}
.center{
    height: 300px;
    margin: 0 0;
}
.right{
    margin: 0 auto;
    width: 35%;
}
.line{
    display: flex;
    padding-top: 10px;
}
.left-title{
    font-family: Pacifico;
    padding-bottom: 10px;
}
.left-subtext{
    margin-right: auto;
    font-family: "Futura BT";
    padding: 10px 0;
}
.header-button{
    display: none;
}
.price{
    font-family: "Futura BT";
    padding: 10px 0;
    margin-left: auto;
}
.chefs{
    padding-bottom: 100px;
}
.chefs > .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chefs-title{
    padding-top: 100px;
    font-family: Pacifico;
    color: var(--main-bg-color);
    font-size: 40px;
    text-align: center;
}
.chefs-img{
    width: 320px;
}
.scroll{
    display: flex;
}
.scroll-box{
    width: 280px;
    height: 330px;
    background-color: var(--main-bg-color);
    background-image: url(../img/chef.jpeg);
    background-size: 110%;  
    background-repeat: no-repeat; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 0 5px;
}
.scroll-img{
    width: 70px;
}
.stars{
    margin: 0 auto;
}
.stars-title{
    font-family: Pacifico;
    color: #0D3A2C;
    padding-bottom: 10px;
}
.stars-subtext{
    padding-top: 10px;
    font-family: "Futura BT";
    color: #777777;
    width: 550px;
    line-height: 1.7;
    padding-bottom: 10px;
}
.stars-wrapper{
    display: flex;
    align-items: center;
}
.chefs-subtext{
    font-family: Pacifico;
    padding-right: 10px;
    color: #0D3A2C;
}
.chefs-stars-img{
    margin: 0 3px;
}
.instagram{
    padding-bottom: 100px;
}
.instagram > .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.instagram-title{
    font-family: Pacifico;
    font-size: 40px;
    color: var(--main-bg-color);
    padding-bottom: 15px;
}
.instagram-img{
    margin: 0 auto;
    width: 370px;
}
.instagram-wrapper{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 100px;
}

.none{
    background-image: url(../img/2CF7332D-646E-4F72-BB8D-E4FB4F5721DC.JPG);
    background-size: cover;
}

.one{
    background-image: url(../img/CB2C7E40-9E3C-47A1-A734-7F72236A8800.JPG);
    background-size: cover;
}

.display{
    background-image: url(../img/IMG_0188.JPG);
    background-size: cover;
}

.other{
    background-image: url(../img/80CCD665-A752-473D-8D66-BF4EDA8BF81A.JPG);
    background-size: cover;
}

.instagram-wrapper-box{
    width: 200px;
    height: 200px;
    background-color: var(--main-bg-color);
    margin: 10px;
}
.instagram{
    margin-bottom: 30px;
}
.instagram-wrapper-img{
    width: 70px;
}
.instagram-container-title{
    font-family: Pacifico;
    color: var(--main-bg-color);
    font-size: 40px;
    padding-bottom: 10px;
}
.blog{
    display: flex;
    padding-top: 30px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.blog-box{
    width: 350px;
    height: 250px;
    background-color: var(--main-bg-color);
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.third{
    background-image: url(../img/8E2B5446-A3F3-4F10-8BAE-2AB2C9204781.JPG);
    background-size: cover;
    border: 1px solid #000;
}

.second{
    background-image: url(../img/6DE800A4-0D1A-40D5-ACA1-2E52848624F8.JPG);
    background-size: cover;
    background-position: 0 -40px;
    border: 1px solid #000;
}

.first{
    background-image: url(../img/CE59D53C-A658-42B8-9BC5-0B04E3179EA2.JPG);
    background-size: cover;
    background-position: 0 -40px;
    border: 1px solid #000;
}

.info-wrapper{
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
}
.info{
    width: 350px;
    margin: 0 -90px;
}

.info-title{
    font-family: Pacifico;
    padding-top: 10px;
    padding-bottom: 15px;
    color: var(--main-bg-color);
    min-width: 200px;
}
.info-subtext{
    font-family: "Futura BT";
    padding-bottom: 15px;
    color: #777777;
    width: 400px;
}
.instagram-info-subtext{
    font-family: "Futura BT";
    color: #777777;
    line-height: 1.5;
    width: 350px;
    padding-bottom: 10px;
}
.info-link{
    font-family: "Futura BT";
    color: var(--main-bg-color);
    padding-bottom: 5px;
    border-bottom: 2px solid var(--main-bg-color);
}
.info-link::after{
    content: "";
    display: inline-block;
    width: 18px;
    height: 10px;
    background-image: url(../img/Forma_1_copy_10.svg);
    margin-left: 5px;
}
.info-link:hover::after{
    transform: translate(15px);
    transition: 0.5s;
}
.footer{
    background-color: #000;
    color: #fff;
    height: 500px;
    display: flex;
    margin: 0 auto;
}
.footer-wrapper{
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 220px;
    margin-left: 70px;
}
.footer-title{
    font-family: Pacifico;
    padding-bottom: 25px;
}
.footer-subtext{
    font-family: "Futura BT";
    color: #fff;
    line-height: 1.7;
}
.footer-subtext::before{
    content: "";
    display: inline-block;
    background-image: url("../img/Forma_1_copy_13.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 12px;
    margin-right: 15px;
}
.footer-link{
    font-family: "Futura BT";
    color: #fff;
    background-color: var(--main-bg-color);
    display: flex;
    width: 200px;
    text-align: center;
    justify-content: center;
    padding: 15px 20px;
    margin-top: 30px;
}
.footer-input{
    padding: 15px 15px;
    font-family: "Futura BT";
    width: 200px;
    outline: none;
}
.footer-hr{
    background-color: #ffffff;
    opacity: 0.2;
    height: 1px;
    border: none;
}
.footer-img{
    margin: 0 2px;
}
.margin{
    display: flex;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
}

@media(max-width: 1188px){
    .container{
        width: 1100px;
    }

    .info-wrapper:nth-child(3){
        margin-top: 30px;
    }
}

@media(max-width: 1094px){
    .container{
        width: 1000px;
    }

    .image{
        width: 200px;
    }
}

@media(max-width: 1090px){
    .container{
        width: 1000px;
    }

    .delivery-subtext{
        width: 500px;
    }

    .images{
        margin-left: -30px;
    }
}

@media(max-width: 1078px){
    .container{
        width: 1000px;
    }

    .instagram-wrapper{
        margin-left: -20px;
    }

    .info-wrapper:nth-child(3){
        margin-top: 30px;
    }
}

@media(max-width: 1038px){
    .container{
        width: 1000px;
    }

    .instagram-wrapper{
        margin-left: -25px;
    }
}

@media(max-width: 1028px){
    .container{
        width: 900px;
    }

    .header{
        background-size: 450px;
        background-position: 0 -20px;
    }

    .image{
        width: 180px;
    }

    .images{
        margin-left: -50px;
    }

    .delivery-subtext{
        width: 450px;
    }

    .stars-subtext{
        width: 500px;
    }

    .wrapper{
        margin-left: -20px;
    }

    .instagram-wrapper{
        margin: 0 auto;
    }

    .none{
        display: none;
    }
}

@media(max-width: 958px){
    .container{
        max-width: 860px;
    }

    .side{
        margin-right: 10px;
    }

    .aside-title{
        margin-left: 20px;
    }

    .country{
        margin-left: 20px;
    }

    .header-subtext{
        margin-right: 10px;
    }

    .wrapper{
        margin-right: 60px;
    }

    .stars-subtext{
        max-width: 450px;
    }
}

@media(max-width: 928px){
    .container{
        width: 830px;
    }

    .image{
        max-width: 160px;
    }

    .subtext{
        left: 100px;
    }
}

@media(max-width: 876px){
    .container{
        width: 780px;
    }

    .image{
        max-width: 150px;
    }

    .stars-subtext{
        max-width: 400px;
    }

    .wrapper{
        margin-left: 25px;
    }

    .info-subtext{
        width: 380px;
    }
}

@media(max-width: 858px){
    .container{
        max-width: 760px;
    }

    .side > img{
        width: 450px;
    }

    .side{
        margin-top: 80px;
        margin-left: 180px;
    }

    .boxes{
        display: flex;
        flex-wrap: wrap;
    }

    .box{
        width: 200px;
    }

    .brown{
        width: 200px;
        height: 300px;
    }

    .box:nth-child(2){
        margin-bottom: 20px;
    }

    .wrapper{
        margin-left: -40px;
    }

    .instagram-wrapper{
        margin-left: -30px;
    }

    .footer > .container{
        margin-left: 0;
    }

    .footer-title{
        margin-right: 15px;
    }

    .header{
        background-size: 450px;
        background-position: 0 -20px;
    }

    .header-subtext{
        font-size: 40px;
    }

    .header-subtext > strong{
        font-size: 80px;
    }

    .header-subtext > span{
        font-size: 40px;
    }
}

@media(max-width: 838px){
    .container{
        max-width: 740px;
    }

    .about-us{
        padding-top: 0 !important
    }

    .side{
        margin-left: 150px;
    }

    .chefs .container .wrapper{
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .scroll{
        margin: 0 auto;
        padding-top: 30px;
    }

    .stars{
        margin: 0 auto;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stars-subtext{
        text-align: center;
    }

    .instagram-wrapper{
        margin-left: -50px;
    }
}

@media(max-width: 836px){
    .container{
        max-width: 731px;
    }

    .footer-title:nth-child(1){
        margin-left: -10px;
    }

    .info-title{
        text-align: center;
        width: 350px;
    }

    .instagram-info-subtext{
        text-align: center;
    }

    .info-wrapper:nth-child(2){
        margin-top: 30px;
    }

    .line{
        width: 350px;
    }

    hr{
        width: 350px;
    }

    .left{
        margin-right: 130px;
    }
}

@media(max-width: 826px){
    .container{
        max-width: 725px;
    }

    .image{
        max-width: 140px;
    }

    .footer-title{
        margin-right: 30px;
    }

    .footer > .container{
        margin-left: -50px;
    }

    .footer-hr{
        margin-left: 120px;
        width: 95%;
    }

    .footer-footer-wrapper-subtext{
        margin-left: 100px;
    }

    .side{
        margin-left: 145px;
    }
}

@media(max-width: 814px){
    .container{
        max-width: 715px;
    }

    .header{
        background-size: 400px !important;
        background-position: 0 -500px;
    }

    .about-us > .container{
        flex-direction: column;
    }

    .instagram-wrapper-button{
        padding: 2px;
    }
}

@media(max-width: 804px){
    .footer-wrapper{
        margin-left: 60px;
    }
}

@media(max-width: 802px){

    .footer{
        height: 630px;
    }

    .footer-wrapper{
        margin-top: 50px;
        padding-bottom: 0;
        flex-wrap: wrap;
        width: 600px;
        height: 450px;
        margin: 0 auto;
        justify-content: center;
        padding-left: 180px;
    }

    .margin{
        transform: translateY(100px);
    }

    .footer-hr{
        transform: translateY(100px);
    }

    .footer-footer-wrapper-subtext{
        margin-left: 120px;
    }

    .top{
        margin-top: -5px;
    }
}

@media(max-width: 798px){
    .display{
        display: none;
    }

    .instagram-wrapper{
        margin: 0 auto;
    }
}

@media(max-width: 788px){
    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        position: absolute;
        width: 100% !important;
        padding-bottom: 10px;

    }

    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 100px;
    }

    .header-subtext{
        font-size: 35px;
    }

    .header-subtext > span{
        font-size: 35px;
    }

    .header-subtext > strong{
        font-size: 70px;
    }
}

@media(max-width: 778px){
    .image{
        max-width: 130px;
    }
}

@media(max-width: 758px){
    .container{
        max-width: 660px;
        margin: 0 auto;
    }

    .margin-right{
        width: 400px;;
    }

    .wrapper{
        flex-direction: column;
    }

    .left-title{
        margin: 0 auto;
        text-align: center;
        min-width: 100%;
    }

    .line{
        width: 500px;
    }

    hr{
        width: 500px;
    }

    .left{
        margin-left: 20%;
        margin-bottom: 30px;
    }

    .right{
        margin-left: 20%;
    }

    .center{
        display: none;
    }
}

@media(max-width: 768px){
    .header-subtext{
        font-size: 35px !important
    }

    .header{
        background-size: 300px !important;
        background-position: 0 0 !important;   
    }

    
        display: block;
    }
}

@media(max-width: 728px){
    .image{
        max-width: 120px;
    }

    .brown{
        margin-left: 15px;
    }
}

@media(max-width: 696px){
    .container{
        max-width: 595px;
    }
}

@media(max-width: 678px){
    .container{
        max-width: 580px;
    }

    .last{
        padding-right: 0;
    }

    .nav-item{
        margin-left: -30px;
    }

    .image{
        max-width: 110px;
    }

    .left{
        margin-left: 90px;
    }

    .right{
        margin-left: 90px;
    }

    .footer-wrapper{
        width: 100%;
    }

    .footer > .container{
        height: 200px !important
    }
}

@media(max-width: 648px){
    .subtext{
        margin-left: -50px;
    }
}

@media(max-width: 646px){
    .container{
        width: 550px;
    }

    .subtext{
        margin-left: -50px;
    }
}

@media(max-width: 628px){
    .image{
        max-width: 100px;
    }
}

@media(max-width: 620px){
    .container{
        max-width: 520px;
    }

    .menu > .container > .wrapper{
        margin-left: -100px;
    }

    .instagram-wrapper{
        margin-left: -40px;
    }

    .map-img{
        width: 100%;
        height: 100%;
    }
}

@media(max-width: 600px){
    .container{
        max-width: 500px;
    }

    .image{
        max-width: 100px;
    }

    .subtext{
        margin-left: -80px;
    }

    .instagram-wrapper{
        margin-left: -50px;
    }
}

@media(max-width: 578px){
    .header-subtext{
        font-size: 30px !important
    }

    .header-subtext > span{
        font-size: 30px;
    }

    .header-subtext > strong{
        font-size: 60px;
    }

    .header{
        background-size: 250px !important;
        background-position: 0 20px !important
    }

    .image{
        max-width: 90px;
    }

    .footer-wrapper{
        margin: 0 auto;
        margin-left: -50px;
    }

    .instagram-wrapper{
        margin-right: -45px;
        width: 578px;
    }
}